<div class="row">
	<div class="span6">
		<h1>Vind een professionele garage die uw auto repareert. <small>Plaats gratis een klus en ontvang binnen 24 uur offertes van garages uit je omgeving.</small></h1>
		<%= link_to "Plaats een klus", new_post_path, :class => "btn btn-large btn-success" %>
	</div>

	<div class="span6">
		
	</div>
</div>

<div class="row">
	<div class="span12">
		<br />
		<h2>Hoe werkt het?</h2>
		<hr />
	</div>
	<div class="span4">
		<h4>1. Plaats je klus</h4>
		<p>
			Plaats je klus in een paar eenvoudige stappen. Garages worden op de hoogte gebracht.
		</p>
	</div>
	<div class="span4">
		<h4>2. Garage bedrijven reageren</h4>
		<p>
			Geïnteresseerde garage bedrijven reageren via de site binnen 24 uur na het plaatsen van je klus.
		</p>
	</div>
	<div class="span4">
		<h4>3. Vergelijk en kies</h4>
		<p>
			Vergelijk garage bedrijven op basis van reactie, prijs, ervaring en reviews. Kies zelf met wie je contact opneemt.
		</p>
	</div>
</div>