<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li class="active">Nieuwe opdracht</li>
</ul>

<%- model_class = Post -%>
<div class="page-header">
  <h1>
  	Opdracht plaatsen <br />
  	<small>Ontvang binnen 24 uur gemiddeld 3 reacties</small>
  </h1>
</div>
<%= render :partial => 'form' %>
